.headerFrame {
  z-index: 700;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
}

.companyName {
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  font-size: 32px;
}

.userBadge {
  transition: opacity 150ms ease-in-out;
  opacity: 0.3;
  margin-top: 7px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.topRightBtns {
  img {
    opacity: 0.5;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(208deg)
      brightness(102%) contrast(102%);

    &:hover {
      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.35));
      opacity: 1;
    }
  }
}

.currentPanel {
  pointer-events: none;

  img {
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    opacity: 1;
  }
}

.notificationsBadge {
  cursor: pointer;
}
