.headerFrame {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
}

.companyName {
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  font-size: 32px;
}

.accountBadge {
  transition: all 250ms ease-in-out;
  font-family: var(--font-montserrat);
  border-top: 1px solid rgb(110, 170, 234);
  border-bottom: 2px solid rgb(4, 46, 90);
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 8px 8px;
}

.topRightBtns {
  img {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.notificationsBadge {
  cursor: pointer;
}

div.topRightBtnsFrame {
  z-index: 500;
  position: fixed;
  top: 10px;
  right: 10px;
}

.dialogInfoEnter {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  padding: 10px 0;
  margin-top: 5px;
  margin-left: 15%;
  width: 70%;
  text-align: center;
  font-weight: 700;
  font-size: 10px;
  box-shadow: inset 0px 1px 3px 0px rgba(83, 140, 205, 0.25);
}
