.chooseTypeTitleFrame {
  z-index: 400;
  position: relative;
  animation: fadeIn 1s ease;
  animation-delay: 750ms;
  animation-fill-mode: forwards;
  margin-bottom: -5px;
  opacity: 0;

  h4 {
    text-transform: uppercase;
    font-family: var(--font-montserrat);
  }
}

.typeDescFrame {
  z-index: -1;
  position: relative;
  margin-top: 15px;
  width: 586px;
  padding: 20px;

  h2 {
    font-family: var(--font-montserrat);
  }

  p {
    color: #fff;
    font-weight: 100;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    border-left: 2px solid rgba(255, 255, 255, 0.25);
    padding-left: 15px;
    padding-bottom: 2px;
  }
}

.serviceBadgesFrame {
  margin-top: 20px;
  width: 586px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
