p.topDividerLabel {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.title {
  font-family: var(--font-arcade);
  margin-top: -13px;
  font-size: 45px;
  height: 42px;
  opacity: 0.2;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.subtitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

.welcomeSpan {
  font-family: var(--font-arcade) !important;
  text-transform: uppercase;
  font-size: 25px;
  position: relative;
  top: 5px;
  left: 2px;
}

div.formPanel {
  position: relative;
  transition: all 300ms ease-in-out;
  width: 800px !important;
}

button.backBtn {
  transition: all 300ms ease-in-out;
  background: none !important;
  box-shadow: none !important;
  padding-right: 10px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.subLottieIcon,
.fingerprintLlottieIcon,
.detailsLottieIcon {
  opacity: 0.1;
  svg {
    width: 100px;
    height: 100px;
  }
}

.fingerprintLlottieIcon {
  opacity: 0.1;
  transform: scale(2.7) translate(-35px, -10px);
}

.detailsLottieIcon {
  opacity: 0.1;
  transform: scale(1.8) translate(-30px, -2px);
}

button.submitBtn {
  transition: all 300ms ease-in-out;
}

.desiredServicesOption {
  color: #000;
}

p.fileUploadInfoText {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  padding-top: 10px;
}

.infoNotice {
  border-left: 4px solid rgba(255, 255, 255, 0.15);
  margin: 0;
  padding: 5px 0;
  color: #fff;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.desiredServicesWrapper {
  min-height: 50px;
  height: auto;
  overflow: hidden;
}

.desiredServicesInput {
  padding-top: 13.5px !important;
  height: 100%;
}

.desiredServicesPill {
  width: 100px;
}
