div.boards {
  background: linear-gradient(145deg, #6198d7, #77abe7);
  border-radius: 10px;
  height: auto;
}

.boardsHeader {
  padding: 5px 15px;
  padding-bottom: 2px;
  position: relative;
  z-index: 100;
  margin-top: 5px;
}

div.boardsBtnsFrame {
  top: 5px;
  right: 10px;
  position: absolute;

  img {
    cursor: pointer;
    opacity: 0.5;
    width: 17px;
    transform: scaleX(-1);

    &:hover {
      opacity: 1;
      transform: scaleX(-1) !important;
    }
  }
}

img.allCardsClosed {
  filter: invert(26%) sepia(6%) saturate(1618%) hue-rotate(191deg)
    brightness(92%) contrast(84%);
}

div.noScroll,
div.scrollAtTop,
div.scrollAtMiddle,
div.scrollAtBottom {
  transition: all 100ms ease-in-out;
  background-color: transparent;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px !important;
  pointer-events: none;
}

div.scrollAtTop {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -2px 5px -3px rgba(0, 0, 0, 4);
}

div.scrollAtMiddle {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

div.scrollAtBottom {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 4);
}

div.taskFrame {
  position: relative;
}

.scrollTowardTop,
.scrollTowardBottom {
  background-color: transparent;
  z-index: 999;
  left: 0;
  position: absolute;
  width: 100%;
  height: 20px;
}

.scrollTowardTop {
  cursor: n-resize;
  top: 0;
}

.scrollTowardBottom {
  cursor: s-resize;
  bottom: 0;
}

div.noScroll {
  box-shadow: none !important;
}

div.shrunk {
  height: 1px !important;
  width: 1px !important;
}
