div.viewTaskFrame {
  transition: all 200ms ease-in-out;
  position: relative;
  overflow: visible;
  height: 0px;
}

div.opened {
  animation: showMore 250ms ease-in-out;
  animation-fill-mode: both;
  height: 100% !important;
}

.taskFrame {
  position: relative;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  user-select: none !important;
  cursor: pointer;
  box-shadow:
    3px 3px 7px rgba(82, 140, 206, 0.5),
    -3px -3px 7px rgba(121, 179, 246, 0.5);

  & > * {
    transition: all 150ms ease-in-out;
  }

  &:hover {
    transform: scale(1.01);

    & > * {
      filter: contrast(1.5) brightness(0.9);
    }
  }
}

div.active {
  & > * {
    filter: contrast(1.5) brightness(0.9);
  }
}

p.taskDate {
  font-weight: 600;
  font-size: 12px;
  color: #fff;
}

h1.title {
  font-family: var(--font-montserrat);
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  padding: 0 3px;
  color: #fff;
}

.addedTags {
  padding-left: 7px;
  opacity: 0.4;

  p {
    margin-top: 10px;
  }
}

.taskService {
  background: transparent;
  border: none;
}

div.taskType {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2)) !important;
  text-transform: uppercase;
  font-family: var(--font-montserrat);
}

.filesAttached {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
  font-family: var(--font-montserrat);
  background: transparent;
  border: none;
}

.commentNum {
  font-family: var(--font-montserrat);
}

.colorSwatch {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
  border: none;
}

p.tagsList {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  width: 260px;
}

div.taskBtnsFrame {
  transition: all 200ms ease-in-out !important;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 100px 100px 100px 100px;
  overflow: hidden;
  margin: 7px 0;
  margin-top: 30px;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  box-shadow:
    10px 10px 15px rgba(82, 140, 206, 0.4),
    -10px -10px 15px rgba(82, 140, 206, 0.1);
}

button.viewTaskBtn {
  background: #8bbbf5 !important;
  border: 0;
  box-shadow: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 10px !important;
  font-family: var(--font-montserrat);
  font-weight: 700;
  margin: 4px 0;
  margin-right: 4px;
  font-size: 12px;
  box-shadow:
    10px 10px 15px rgba(82, 140, 206, 0.3),
    -10px -10px 15px rgba(82, 140, 206, 0.2);

  &:hover {
    transform: scale(1.02);
    opacity: 1;
  }
}

.deleteTaskBtn {
  transition: all 250ms ease-in-out;
  margin: 0 5px -4px 8px !important;
  opacity: 0.2;
  color: #fff;

  &:hover {
    color: #f80808;
    transform: scale(1.02);
    opacity: 1;
  }
}

button.reviewBtn {
  background: linear-gradient(180deg, #6bcf3d, #62bc37) !important;
  padding: 5px 10px !important;
  margin: 4px 0;
  margin-right: 4px;
  font-size: 12px;
}

.reviewReady {
  overflow: hidden;
}

.reviewReady:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  animation: shinyBtn 3s ease-in-out infinite;
}

div.grabHandleFrame {
  transition: all 200ms ease-in-out;
  background: linear-gradient(145deg, #3a76b6, #2662a2) !important;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.15);
  filter: brightness(1.2);
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  opacity: 1 !important;
  cursor: default;

  &:hover,
  &:active {
    filter: brightness(1.4);
  }

  svg {
    cursor: grab;

    &:active {
      cursor: grabbing !important;
    }
  }
}

div.grabHandleShowing {
  animation: handleShow 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: both;
}

/* KEYFRAMES --------------------------------------------------------------- */

@keyframes shinyBtn {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes handleShow {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

@keyframes showMore {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
