.companyName {
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  font-size: 32px;
}

.userBadge {
  transition: opacity 150ms ease-in-out;
  opacity: 0.3;
  margin-top: 7px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.topRightBtns {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

div.boardsFrame {
  align-items: flex-start;
  align-content: flex-start;

  ul {
    position: relative;
    overflow: visible;
    list-style: none;
    margin: 5px;

    li {
      position: relative;
      margin: 20px 10px;

      &:active {
        z-index: 200 !important;
      }
    }
  }
}

div.boards {
  background: linear-gradient(145deg, #6198d7, #77abe7);
  border-radius: 10px;
  height: auto;
  max-height: calc(100vh - 100px);
  padding: 0px !important;
  padding-top: 5px !important;
}

.boardsHeader {
  position: relative;
  z-index: 100;
  margin: 5px 0 -27px 15px;
}

.scrollSpace {
  margin: 5px 0 -12px 15px;
}

ul.boardsInner {
  border-radius: 10px;
  padding: 0;
  margin-bottom: -5px !important;
}

ul.boardsShadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px inset;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin: 10px !important;
}

div.reorderBtnFrame {
  top: 0px;
  right: 10px;
  margin-right: 5px;
  padding: 0 7px;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  img.reorder {
    width: 17px;
  }
}
