.companyName {
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  font-size: 32px;
}

.userBadge {
  transition: opacity 150ms ease-in-out;
  opacity: 0.3;
  margin-top: 7px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.topRightBtns {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

div.boardsFrame {
  align-items: flex-start;
  align-content: flex-start;
}

div.boards {
  background: linear-gradient(145deg, #6198d7, #77abe7);
  border-radius: 10px;
  height: auto;
  max-height: calc(100vh - 100px);
  padding: 0px !important;
}

.boardsHeader {
  padding: 5px 15px;
  position: relative;
  z-index: 100;
  margin-top: 5px;
}

div.reorderBtnFrame {
  top: 0px;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    opacity: 1;
    transform: scale(1.1) !important;
  }

  img.reorder {
    width: 17px;
  }
}

.mantine-ScrollArea-scrollbar {
  &,
  &:hover {
    background-color: transparent !important;
  }
}

div.scrollAtTop,
div.scrollAtMiddle,
div.scrollAtBottom {
  transition: all 100ms ease-in-out;
  border-radius: 10px !important;
  margin: 5px;
}

div.scrollAtTop {
  box-shadow: inset 0 -2px 5px -3px rgba(0, 0, 0, 0.7);
}

div.scrollAtMiddle {
  box-shadow:
    inset 0 2px 5px -3px rgba(0, 0, 0, 0.7),
    inset 0 -2px 5px -3px rgba(0, 0, 0, 0.7);
}

div.scrollAtBottom {
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.7);
}
