.companyName {
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  font-size: 32px;
}

.userBadge {
  transition: opacity 150ms ease-in-out;
  opacity: 0.3;
  margin-top: 7px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.topRightBtns {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.boardsFrame {
  align-items: flex-start;
  align-content: flex-start;
}

.boards {
  background: linear-gradient(145deg, #6198d7, #77abe7);
  border-radius: 10px;
  height: auto;
  max-height: calc(100vh - 100px);
  padding: 10px 0 5px 0;
}

.boardsHeader {
  position: relative;
  z-index: 100;
  margin: 0 0 -27px 15px;
}

.scrollSpace {
  margin: 0 0 -12px 15px;
}

.boardsInner {
  border-radius: 10px;
  overflow: auto;
  padding: 20px;
  padding-bottom: 20px;
  margin: 0 5px;
}

.boardsShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px inset;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 15px;
  margin: 5px 10px;
}
