div.taskDrawerRoot {
  z-index: 700;
  position: fixed;
}

img.expandBtn,
img.closeBtn,
img.emailTaskBtn,
img.editTaskBtn {
  transition: all 250ms ease;
  cursor: pointer;
  width: 23px;
  height: 23px;
  opacity: 0.4;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

img.closeBtn {
  margin-left: -3px;
}

img.expandBtn,
img.editTaskBtn {
  width: 20px;
  height: 20px;
}

section.taskDrawerContent {
  background: transparent;
  box-shadow: none;
  max-width: 1000px;
  min-width: 625px;
}

div.taskDrawerContentWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    10px 10px 15px #528cce,
    -10px -10px 15px rgba(103, 162, 230, 0.4);
}
