div.taskDrawerRoot {
  z-index: 700;
  position: fixed;
}

div.drawerBtns {
  position: absolute;
  top: 36px;
  right: 44px;
}

img.expandBtn,
img.closeBtn,
img.helpBtn,
img.emailTaskBtn,
img.editTaskBtn {
  transition: all 250ms ease;
  cursor: pointer;
  width: 23px;
  height: 23px;
  opacity: 0.4;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

img.closeBtn {
  margin-left: -5px;
}

img.expandBtn,
img.editTaskBtn {
  width: 20px;
  height: 20px;
}

section.taskDrawerContent {
  background: transparent;
  box-shadow: none;
  max-width: 1000px;
  min-width: 625px;
}
