.scene {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #000;
}

.canvas {
  min-width: 100vw;
  min-height: 100vh;
  width: calc(300 * 1px);
  height: calc(300 * 1px);
}

.canvas::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: flicker calc(20 * 1s) infinite linear;
  filter: brightness(5);
  background: conic-gradient(
    from 180deg at 50% 70%,
    hsla(0, 0%, 98%, 1) 0deg,
    #eec32d 72.0000010728836deg,
    #ec4b4b 144.0000021457672deg,
    #709ab9 216.00000858306885deg,
    #4dffbf 288.0000042915344deg,
    hsla(0, 0%, 98%, 1) 1turn
  );
  mask: radial-gradient(
        circle at 50% 50%,
        white calc(1 * 1px),
        transparent calc((1 * 1px) + 0.5px)
      )
      50% 50% / calc(15 * 1px) calc(15 * 1px),
    url("/img/noise-mask.png") calc(256 * 1px) 50% / calc(256 * 1px)
      calc(256 * 1px);
  mask-composite: intersect;
}

@keyframes flicker {
  to {
    mask-position: 50% 50%, 0 50%;
  }
}
