.taskType {
  box-shadow: 0px 2px 3px -1px rgba(110, 110, 110, 0.7);
}

.taskFormTitle {
  margin-bottom: 10px;

  h4 {
    font-family: var(--font-montserrat);
    text-transform: uppercase;
  }
}

.addLinkBtn,
.addKeywordBtn,
.tagsInput {
  color: #fff;
  cursor: pointer;
  border-radius: 100px;
}

.dialogInfoEnter {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  padding: 10px 0;
  margin-top: 5px;
  margin-left: 15%;
  width: 70%;
  text-align: center;
  font-weight: 700;
  font-size: 10px;
  box-shadow: inset 0px 1px 3px 0px rgba(83, 140, 205, 0.25);
}

button.backBtn {
  background: none !important;
  box-shadow: none !important;
  padding-right: 10px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}

button.reviewBtn {
  transition: all 200ms ease-in-out;
}

img.helpIcon {
  transition: all 150ms ease-in-out;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

div.wrapperInput {
  max-height: 50px !important;
  white-space: nowrap !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

input.tagsInputField {
  min-width: 0% !important;
}

div.tagsInput {
  max-height: 50px !important;
  border-radius: 5px;
}

div.tagsPillsList {
  display: inline-flex;
  word-wrap: unset;
  flex-wrap: unset;
  overflow: hidden;
  max-height: 50px !important;
  width: 100%;
}
