.taskType {
  box-shadow: 0px 2px 3px -1px rgba(110, 110, 110, 0.7);
}

.taskFormTitle {
  margin-bottom: 10px;

  h4 {
    font-family: var(--font-montserrat);
    text-transform: uppercase;
  }
}

.addLinkBtn,
.addKeywordBtn,
.tagsInput {
  color: #fff;
  cursor: pointer;
  border-radius: 100px;
}

button.resetBtn,
button.backBtn {
  background: none !important;
  box-shadow: none !important;
  padding-right: 10px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}

button.resetBtn {
  margin-left: -20px;
}

button.reviewBtn {
  transition: all 200ms ease-in-out;
}

img.helpIcon {
  transition: all 150ms ease-in-out;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

div.wrapperInput {
  max-height: 50px !important;
  white-space: nowrap !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

input.tagsInputField {
  min-width: 0% !important;
}

div.tagsInput {
  max-height: 50px !important;
  border-radius: 5px;
}

div.tagsPillsList {
  display: inline-flex;
  word-wrap: unset;
  flex-wrap: unset;
  overflow: hidden;
  max-height: 50px !important;
  width: 100%;
}

img.iconImage {
  box-shadow:
    rgba(50, 50, 93, 0.7) 0px 15px 30px -6px,
    rgba(0, 0, 0, 0.4) 0px 18px 18px -9px;
  filter: invert(46%) sepia(7%) saturate(14%) hue-rotate(27deg) brightness(98%)
    contrast(89%);
}

.popoverDropdown {
  background: linear-gradient(0deg, #d6d6d6, #ffffff) !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  color: #000;
}

button.deleteBtn {
  opacity: 0.25;

  &:hover {
    opacity: 1;
  }
}

.tagIcon {
  filter: invert(100%) sepia(16%) saturate(7273%) hue-rotate(177deg)
    brightness(108%) contrast(71%);
}

.closeBtn {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

div.tagsListFrame {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
}
