.twitterBird {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-family: var(--font-arcade);
  text-align: center;
  font-size: 3rem;
  height: 52px;

  &:hover {
    text-decoration: none;
  }
}

.subtitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 20px;
}

div.loginBtns {
  transition: all 150ms ease-in-out;
  border-radius: 10px;
  background: linear-gradient(145deg, #3f70a8, #75acee);
  box-shadow:
    10px 10px 15px #528cce,
    -10px -10px 15px #79b3f6;

  button {
    opacity: 0.5;
  }
}

.loginBtns button:hover {
  opacity: 1;
}
