.twitterBird {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-family: var(--font-arcade);
  text-align: center;
  font-size: 58px;
  height: 52px;

  &:hover {
    text-decoration: none;
  }
}

.subtitle {
  text-align: right;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 12px;
  margin-right: 7px;
  margin-bottom: 20px;
  color: #fff;
}

button.loginBtn {
  &:hover {
    transition: all 150ms ease-in-out;
    transform: scale(1.02);
  }

  &:active {
    transition: all 50ms ease-in-out;
    transform: scale(0.98);
    color: #fff;
  }
}

.forgotPassword:hover {
  transition: all 250ms ease-in-out;
  text-decoration: underline;
}
