div.notiDrawerRoot {
  z-index: 800;
  position: fixed;
}

section.notiDrawerContent {
  background: transparent;
  box-shadow: none;
}

div.notiDrawerBox {
  position: relative;
  height: calc(100vh - 32px);
}

img.closeBtn {
  transition: all 250ms ease;
  cursor: pointer;
  width: 23px;
  height: 23px;
  opacity: 0.4;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

img.notiImg {
  opacity: 0.5;
  width: 25px;
}

div.notiCloseBtn {
  transform: scale(0.85);
  top: 15px;
  left: 20px;
  right: auto;
}

.notiItem {
  border-top: 1px solid rgba(184, 201, 224, 0.35);
}
