div.detailsSection {
  transition: all 500ms ease-in-out;
  padding: 15px 20px;
  padding-bottom: 23px;
  overflow: hidden;
  box-shadow:
    10px 10px 15px rgba(82, 140, 206, 1),
    -10px -10px 15px rgba(103, 162, 230, 1);
}

div.detailsPanel {
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(184, 201, 224, 0.5);
  border-radius: 10px;
  padding-bottom: 5px;

  p {
    font-size: 14px;
  }
}

div.detailsRow {
  padding: 5px 12px;

  p {
    line-height: 1.2;
  }
}

div.dateRow {
  padding: 0 10px;

  p {
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1);
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    margin-top: 3px;
    font-family: var(--font-montserrat);
  }
}

div.textFrame {
  transition: all 500ms ease-in-out;
  overflow: hidden;
}

div.taskDesc {
  transition: all 500ms ease-in-out;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    transition: all 250ms ease-in-out;
    background: #0247ad;
    border-radius: 10px;
    display: none;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      display: block;
    }
  }
}

.detailsBadge {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

div.descFrame {
  min-height: 91px;
}

p.desc {
  box-sizing: border-box;
}
