body {
  width: 100%;
  font-family: var(--font-assistant);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

.panel {
  background: linear-gradient(to left top, #030303, rgba(0, 0, 0, 0.4));
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);

  /* PLACEHOLDER  */
  padding: 50px;
}

.innerPanel {
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
  background: #000;
  border-radius: 3px;
  color: #fff;

  /* PLACEHOLDER  */
  padding: 100px;
}

input,
input.mantine-Input-input {
  background: #090909;
  transition: all 150ms ease;
  padding: 10px 20px;
  height: auto;
  border: none;
  outline: none;
  color: #fff;
}

a.mantine-Button-root,
button.mantine-Button-root {
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
  background: #000;
  transition: all 150ms ease;
  font-weight: 900;
  height: auto;
  padding: 15px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

button:hover,
button.mantine-Button-root:hover {
  filter: brightness(1.03);
}

button:active,
button.mantine-Button-root:active {
  filter: brightness(0.98);
  transform: scale(0.98);
  color: #bbb;
}
