// blue: #3d5585
// dark blue: #01143b

// Design Orange: #ff4d28
// Content Management Red: #f80800
// Web Dev Yellow: #ffd941


:root {
  --divider-color: #444;
}

body {
  background: linear-gradient(145deg, #6291c8, #75acee);
  height: 100%;
  overflow: hidden;
  font-family: var(--font-assistant);
  color: #fff;
}

body *::-webkit-scrollbar {
  width: 7.5px;
}

body *::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0) !important;
  border-radius: 25px;
}

body *::-webkit-scrollbar-thumb {
  background: rgba(49, 126, 202, 0.5);
  border-radius: 10px;
}

body *::-webkit-scrollbar-thumb:hover {
  background: #1971c2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
  color: #b9d5f6;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.appPixelated {
  filter: url(#pixel) grayscale(1);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.panel {
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  background: linear-gradient(145deg, #6ea4df, #6ea4df);
  border: 1px solid rgba(122, 174, 238, 0.5);
  box-shadow:
    10px 10px 15px #528cce,
    -10px -10px 15px #67a2e6;
}

.innerPanel {
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background: linear-gradient(145deg, #538ccd, #75acee);
  box-shadow:
    10px 10px 15px #528cce,
    -10px -10px 15px #79b3f6;
}

.altPanel {
  box-shadow: inset 0px 2px 4px 0px rgba(83, 140, 205, 0.75);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 15px;
}

.lightShadow {
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.mantine-Input-wrapper {
  transition: all 150ms ease;
  height: auto;
  border: none;
  outline: none;
  color: #000;
  padding: 7px 0;
  border-radius: 10px;
  background: linear-gradient(145deg, #d6e1ed, #c7dbf3);
  box-shadow:
    9px 9px 29px #618fc6,
    -9px -9px 29px #79b3f6;

  input,
  textarea,
  .mantine-Input-input {
    background-color: transparent;
    border: none;
    color: #444;

    &::placeholder {
      color: #aaa;
    }
  }
}

a.mantine-Button-root,
button.mantine-Button-root {
  transition: all 150ms ease;
  font-weight: 900;
  height: auto;
  padding: 15px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background: linear-gradient(145deg, #3f70a8, #75acee) !important;
  box-shadow:
    5px 5px 10px #528cce,
    5px -5px 10px rgba(139, 190, 249, 0.3),
    -5px -5px 10px #79b3f6;
}

button:hover,
button.mantine-Button-root:hover {
  filter: brightness(1.03);
}

button:active,
button.mantine-Button-root:active {
  filter: brightness(0.98);
  transform: scale(0.98);
  color: #bbb;
}

a {
  transition: all 150ms ease;
  color: #3f70a8;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.removeDetails {
  box-shadow: none !important;
  background: transparent !important;
}
