body {
  width: 100%;
  font-family: var(--font-assistant);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

.appPixelated {
  filter: url(#pixel) grayscale(1);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.panel {
  background: radial-gradient(rgba(4, 4, 4, 0.97), #040404);
  border: 1px solid rgba(255, 255, 255, 0.02);
  border-radius: 3px;

  /* PLACEHOLDER  */
  padding: 30px;
}

.innerPanel {
  background: linear-gradient(145deg, #040404, #090909);
  border-radius: 3px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.01);
  box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(41, 41, 41, 0.15);

  /* PLACEHOLDER  */
  padding: 100px;
}

input,
input.mantine-Input-input {
  background: linear-gradient(145deg, #5f5f5f, #9e9e9e);
  transition: all 150ms ease;
  padding: 10px 20px;
  height: auto;
  border: none;
  outline: none;
  color: #000;
  border: 1px solid rgba(255, 255, 255, 0.01);

  &::placeholder {
    color: #444;
  }
}

a.mantine-Button-root,
button.mantine-Button-root {
  border-radius: 3px;
  background: linear-gradient(145deg, #040404, #090909);
  transition: all 150ms ease;
  font-weight: 900;
  height: auto;
  padding: 15px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.01);
  box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(41, 41, 41, 0.15);
}

button:hover,
button.mantine-Button-root:hover {
  filter: brightness(1.03);
}

button:active,
button.mantine-Button-root:active {
  filter: brightness(0.98);
  transform: scale(0.98);
  color: #bbb;
}
