div.hoverCardInfo {
  margin-left: 10px;
}

div.hoverCardColor {
  border-radius: 25px;
  width: 10px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.removeColorBtn {
  background: transparent;
  transition: all 250ms ease-in-out;
  border: 1px solid var(--mantine-color-red-7);
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    background: var(--mantine-color-red-7);
    opacity: 1;

    svg {
      fill: #fff;
    }
    p {
      color: #fff;
    }
  }
}

.colorCircle {
  transition: all 250ms ease-in-out;
  filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.4));
  border: 2px solid rgba(255, 255, 255, 0.4);
  transform: scale(1.18);
}
