button.submitType {
  z-index: 500;
  position: relative;
  transition: all 250ms ease-in-out;
  background: linear-gradient(145deg, #5994d7, #75acee) !important;
  box-shadow:
    10px 10px 15px rgba(82, 140, 206, 0.7),
    -10px -10px 15px rgba(121, 179, 246, 0.3) !important;

  h5 {
    text-align: center !important;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.25;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 5px;
    padding-bottom: 2px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 2px rgba(74, 128, 189, 0.4);
  }

  svg {
    width: 80px !important;
    height: 100px !important;
    filter: grayscale(1) opacity(0.4);
  }

  &:hover {
    transform: scale(1.02);
    box-shadow:
      10px 10px 15px #4a80bd,
      -10px -10px 15px #79b3f6;

    svg {
      filter: grayscale(0%);
    }

    h5,
    .typeColor {
      color: #fff !important;
      opacity: 1;
    }
  }

  &:active {
    transform: scale(1);
  }
}

button.buttonActive {
  box-shadow:
    10px 10px 15px #4a80bd,
    -10px -10px 15px #79b3f6;

  svg {
    filter: grayscale(0%);
  }

  h5,
  .typeColor {
    color: #fff !important;
    opacity: 1;
  }
}

.typeColor {
  position: absolute;
  top: 6px;
  left: 6px;
  opacity: 0.3;
}
