a.blank {
  z-index: 9999;
  position: absolute;
  top: 10;
  left: 10;
}

div.centerFrame {
  transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
}

img.leftArrow,
img.rightArrow {
  transition: all 2s ease-in-out;
  animation: pulse 2s infinite ease-in-out;
  color: #fff;
  margin: 20px 0;
  cursor: pointer;
  overflow: visible;
  width: 35px;
  user-select: none;
}

img.leftArrow:active,
img.rightArrow:active {
  transform: scale(0.95);
  animation: none;
}

a.loginBtn {
  transition: all 150ms ease;
  position: fixed;
  top: 20px;
  right: 15px;
  padding: 0;
  background: transparent;
  z-index: 999;
  color: #000;
  perspective: 300px;
  transform-style: preserve-3d;
  overflow: visible;
  padding: 10px 20px;
  font-weight: 700;
  height: auto;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
  border-radius: 10px;
  opacity: 0.2;

  &:hover {
    opacity: 1;
    color: #fff;
  }

  &:after {
    border-radius: 10px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transform-origin: center bottom;
    transform: rotateX(0);
    transition: all 0.3s ease;
  }

  &:hover:after {
    transform: rotateX(-180deg);
    opacity: 0.3;
  }
}

/* KEYFRAMES ----------------------------- */

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
