div.editorRoot {
  backdrop-filter: blur(10px);
  padding: 10px;
  border: none;
  border-top: 1px solid #daf4fa;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.3)
  );
}

div.editorRoot button {
  background: transparent;
  border: none;
  box-shadow: none;
  overflow: hidden;
}

div.editorToolbar,
div.editorContent {
  background: transparent;
  padding: 0px;
}

div.editorToolbar {
  border-bottom: none;
}

div.editorContent {
  background: linear-gradient(to top, #f0f9fb, #f3f9fb);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px inset;
  margin: 10px;
}

div.editorControlsGroup {
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
}
