.topRightBtns {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.boardsFrame {
  align-items: flex-start;
  align-content: flex-start;
}

.boards {
  border-radius: 10px;
  height: auto;
  max-height: calc(100vh - 100px);
  padding: 10px 0;
}

.boardsHeader {
  position: relative;
  z-index: 100;
  margin: 0 0 -5px 20px;
}

.boardsInner {
  border-radius: 10px;
  overflow: auto;
  padding: 20px;
  margin: 0;
  margin-top: -25px;

  div.innerPanel {
    box-shadow:
      10px 10px 15px rgba(82, 140, 206, 0.2),
      -10px -10px 15px rgba(121, 179, 246, 0.2) !important;
  }
}
