.mainLogo {
  opacity: 0.2;
  width: rem(50px);
  height: rem(50px);
  padding-left: 2px;
  cursor: pointer;
}

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: rem(110px);
  padding: var(--mantine-spacing-md);
  background: linear-gradient(145deg, #6291c8, #75acee);
  flex-direction: column;
  box-shadow:
    10px 10px 15px #528cce,
    -10px -10px 15px #79b3f6;
}

.navbarMain {
  flex: 1;
  margin-top: rem(28px);
}

.link {
  transition: all 200ms ease;
  width: rem(80px);
  height: rem(80px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &[data-active] {
    &,
    &:hover {
      background: linear-gradient(145deg, #6291c8, #75acee);
      opacity: 1;
      box-shadow:
        10px 10px 15px #528cce,
        -10px -10px 15px rgba(121, 179, 246, 0.35);
    }
  }
}
