div.logoFrame {
  z-index: 10;
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  place-content: center;
  overflow: hidden;
}

.item {
  width: 500px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}
