div.dashPanel {
  position: fixed;
  top: 0;
  right: 0px;
  width: calc(100vw - rem(110px));
  height: 100vh;
  padding: 20px;
}

h1.header {
  color: #b9d5f6 !important;
  font-family: var(--font-montserrat);
  font-weight: 700;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}
