div.hoverCardInfo {
  margin-left: 10px;
}

div.hoverCardColor {
  border-radius: 25px;
  width: 8px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
}

.removeColorBtn {
  transition: all 250ms ease-in-out;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}
.colorCircle {
  transition: all 250ms ease-in-out;
  filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.4));
  border: 2px solid rgba(255, 255, 255, 0.4);
  transform: scale(1.18);
}
