.selectDropdown {
  border: none;
  color: #444;
  background: linear-gradient(0deg, #d6d6d6, #ffffff) !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0;
}

.selectOption {
  width: 100%;

  &:hover,
  &[data-combobox-selected="true"],
  &[data-combobox-active="true"] {
    transition: all 250ms ease-in-out;
    width: calc(100% - 6px);
    margin-left: 5px;
    border-radius: 10px 0 0 10px;
    background: rgba(10, 37, 64, 0.2);
  }
}

.options {
  padding-top: 5px;
  padding-bottom: 3px;
}
