div.centerFrame {
  transition: all 500ms ease-in-out;
  position: fixed;
  top: 0;
  width: 600vw;
  animation: fadeInDown 300ms ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: both;
}

button.submitType {
  transition: all 250ms ease-in-out;
  background: linear-gradient(145deg, #5084bf, #679cdc) !important;
  box-shadow:
    10px 10px 15px rgba(82, 140, 206, 0.7),
    -10px -10px 15px rgba(121, 179, 246, 0.3);

  h5 {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.25;
  }

  svg {
    width: 100px !important;
    height: 120px !important;
    filter: grayscale(1) opacity(0.4);
  }

  &:hover {
    transform: scale(1.02);
    box-shadow:
      10px 10px 15px #4a80bd,
      -10px -10px 15px #79b3f6;

    svg {
      filter: grayscale(0%);
    }

    h5,
    .typeColor {
      color: #fff !important;
      opacity: 1;
    }
  }

  &:active {
    transform: scale(1);
  }
}

button.buttonActive {
  box-shadow:
    10px 10px 15px #4a80bd,
    -10px -10px 15px #79b3f6;

  svg {
    filter: grayscale(0%);
  }

  h5,
  .typeColor {
    color: #fff !important;
    opacity: 1;
  }
}

.chooseTypeTitle {
  margin-left: -31px;
  font-family: var(--font-montserrat);
  text-transform: uppercase;
}

.typeColor {
  opacity: 0.3;
}

.typeDescFrame {
  margin-top: 15px;
  width: 700px;
  padding: 20px;

  h2 {
    font-family: var(--font-montserrat);
  }

  p {
    color: #fff;
    font-weight: 100;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    border-left: 2px solid rgba(255, 255, 255, 0.25);
    padding-left: 15px;
    padding-bottom: 5px;
  }
}

div.nextPrev {
  z-index: 999;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
