.taskType {
  box-shadow: 0px 2px 3px -1px rgba(110, 110, 110, 0.7);
}

.taskFormTitle {
  margin-bottom: 10px;

  h4 {
    font-family: var(--font-montserrat);
    text-transform: uppercase;
  }
}

.selectDropdown,
.colorPopoverDropdown {
  border: none;
  color: #444;
  background: linear-gradient(0deg, #d6d6d6, #ffffff) !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.selectDropdown {
  padding: 0;
  box-shadow:
    0px 2px 7px 0px rgba(99, 99, 99, 0.35),
    inset 0 -3px 4px -2px rgba(0, 0, 0, 0.5);
}

.colorPopoverDropdown {
  padding: 20px;
}

.selectOption {
  width: 100%;
  &:hover {
    transition: all 250ms ease-in-out;
    width: calc(100% - 10px);
    margin-left: 5px;
    border-radius: 10px 0 0 10px;
    background: rgba(10, 37, 64, 0.1);
  }
}

.options {
  padding-top: 5px;
  padding-bottom: 3px;
}

div.pickerArea {
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  border: 2px solid #fff;
}

div.pickerSlider {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
}

div.colorInputWrapper {
  padding: 0px;
  margin-top: 10px;
  border-radius: 25px;
  border: 2px solid #fff;
  background: linear-gradient(0deg, #efefef, #ffffff);
  box-shadow:
    2px 2px 5px rgba(180, 180, 180, 0.25),
    -2px -2px 5px rgba(199, 199, 199, 0.25);
}

input.colorInput {
  text-transform: uppercase;
}

.addLinkBtn,
.addColorBtn,
.addKeywordBtn,
.tagsInput {
  color: #fff;
  cursor: pointer;
  border-radius: 100px;
}

.addColorBtn {
  color: #ccc;
}

.deliverInfoDialog {
  background: linear-gradient(0deg, #efefef, #ffffff);
  color: #444;
  box-shadow: 0px 2px 8px 0px rgba(110, 110, 110, 0.3);
  overflow: hidden;
}

.dialogIcon {
  background: linear-gradient(0deg, #f7f7f7, #ffffff);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
}

.dialogInfoEnter {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  padding: 10px 0;
  margin-top: 5px;
  margin-left: 15%;
  width: 70%;
  text-align: center;
  font-weight: 700;
  font-size: 10px;
  box-shadow: inset 0px 1px 3px 0px rgba(83, 140, 205, 0.25);
}
